$colorwhite: #fff;
$colorgrey: #acafb4;
$backgroundcolor: #c3cfe2;
$colorpurple:#686de0;
$colordark: rgb(82, 80, 80);
$colorhover: rgb(9, 1, 40);
$colorblog:#e17b77;
$colorfacebook:#3b5998;
$colortwitter:#00aced;
$colorgithub:#333;
$colorlinkedin:#007bb6;

$borderradius: 25px;
$textsize: 140%;
$width: 100%;

$small: 400px;
$medium: 724px;
$large: 1024px;

$fonticon:var(--fa-font-brands);
$fontsize: 150%;
$padingicon: 21px;